body {

    font-family: Georgia, "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
    
    background-color: rgb(128,128,128); 
    color: #333; 
    

}

 
 .navbar-custom {
    background-color:  rgb(128,128,128) ;
}


.navbar-custom .navbar-brand,
.navbar-custom .navbar-text{
    color: white;
}


.navbar-custom .navbar-nav .nav-link {
    color: white;
}


.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: black;
}

nav a { font-family: Georgia, 'Times New Roman', Times, serif;
}
 
header {
    background-color: rgb(128,128,128);
    color: white;
    padding: 1rem;
    text-align: center;
}

h1 {font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;

}

h2 {font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;
    font-size: small;

}
 
h3 {font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:x-small;
}

h4 {font-family: Georgia, 'Times New Roman', Times, serif;
}

h5 {font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
    padding: 2rem;
    background-color: rgb(128,128,128);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




        .carousel-inner img {
            width: 100%; 
            height: auto;  
        }
        .carousel {
            max-width: 600px; 
            margin: 0 auto; 
        }
        .carousel-item {
            height: 400px; 
            overflow: hidden; 
        }
        .carousel-item img {
            height: 100%; 
            object-fit: cover; 
        }



